<!-- Submit file for parsing and storage into database-->

<form action="broadcastParse.php" method="post">
<input type="file" id="file" name="file" /><br/>

<input type="submit" value="submit" /><br/>

</form>